@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body {
	font-family: Arial, sans-serif;
	background: #000119;
	margin: 0;
	padding: 20px;
}

h1 {
	color: #ffffff;
}

.main-container {
	padding: 20px;
}

.titleText {
	text-align: center;
	font-family: 'Silkscreen', sans-serif;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

.appButton {
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 8px;
	font-size: 17px;
	font-weight: 500;
	color: #ffffff80;
	text-shadow: none;
	background: transparent;
	cursor: pointer;
	box-shadow: transparent;
	border: 1px solid #ffffff80;
	transition: 0.5s ease;
	user-select: none;
}

.appButton:hover {
	color: #ffffff;
	background: #008cff;
	border: 1px solid #008cff;
	text-shadow:
		0 0 5px #ffffff,
		0 0 10px #ffffff,
		0 0 20px #ffffff;
}

.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-align: center;
}

.loading-text {
	color: rgb(255, 255, 255);
	font-family: Consolas, Courier, monospace;
	font-size: 35px;
	text-shadow: 0 0 10px #f00;
}

.loading-dots {
	width: 100%;
	display: flex;
	justify-content: center;
}

.error-message {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	height: 100%;
	left: 0;
	line-height: 1;
	color: #ddd;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100%;
}

.success-container {
	text-align: center;
	margin-top: 1em;
}

.success-message {
	font-family: 'Poppins', sans-serif;
	color: #4caf50;
	font-size: 1.2em;
	text-transform: uppercase;
}
